// ＝＝＝＝＝整個網頁變數放這裡＝＝＝＝＝
$primary-color: #1db3ce;
$accent-color: #3d7eff;
$third-color: #2cc391;
$alert-color: #c64040;
$primary-grey: #7b8183;
$accent-grey: #acacac;
$third-grey: #f2f2f2;
$fourth-grey: #838383;
$brown-color: #a18f7a;

$text-color: #000;
$text-accent-color: #585858;
$text-alert-color: #c64040;
$text-important: #db0000;

$title-color: #1db3ce;

$font-xxl: 30px;
$font-xl: 24px;
$font-lg: 20px;
$font-md: 18px;
$font-smd: 16px;
$font-sm: 14px;
$font-xs: 12px;

$font-weights: (
  'light': 200,
  'regular': 400,
  'medium': 500,
  'bold': 800,
);

$light-bg: #fff;
$dark-bg: #3e3e3e;
$light-text: #000;
$dark-text: #fff;
$light-shadow: #0000000d;
$dark-shadow: #ffffffbf;
$light-head-bg: #fff;
$dark-head-bg: #000;
$light-btn-bg: #fff;
$dark-btn-bg: #5a6268;
$light-btn-active-bg: #545b62;
$dark-btn-active-bg: #000;

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

[data-mode='light'] {
  --background-color: #{$light-bg};
  --text-color: #{$light-text};
  --shadow-color: #{$light-shadow};
  --header-bg-color: #{$light-head-bg};
  --btn-bg: #{$light-btn-bg};
  --btn-active-bg: #{$light-btn-active-bg};
}

[data-mode='dark'] {
  --background-color: #{$dark-bg};
  --text-color: #{$dark-text};
  --shadow-color: #{$dark-shadow};
  --header-bg-color: #{$dark-head-bg};
  --btn-bg: #{$dark-btn-bg};
  --btn-active-bg: #{$dark-btn-active-bg};
}
