@import './helpers/reset';
@import './helpers/variables';
@import './helpers/myset';
@import './helpers/mixins';
@import './helpers/custom_class';
@import './layouts/Header';

// @import './components/SuperLikeAnimation';
@import './page/AllPage';
// @import './fonts/my_font';

.the-main-page {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  @include xxl {
    max-width: none;
  }

  .main-content-outer {
    @include te;

    flex: 1 1 700px;
    margin-top: 80px;
    padding: 40px 0;
    // position: relative;
    display: flex;
    min-width: 0;
    min-height: calc(100vh - 80px);
    background: var(--background-color);
    color: var(--text-color);
  }
}
