.main-content {
  position: relative;
  margin: 0 auto;
  min-width: 0;
  max-width: 700px;
  width: 700px;

  .link-area {
    margin-top: 40px;
    font-size: $font-lg;
    text-align: center;
  }

  @import './home';
  @import './api-page';
}
